//COLORS
$color-primary: #003dd7;
$color-secondary: #8b7bda;
$color-three-light: #7ed56f;
$color-three-dark: #28b485;
$color-four-light: #ffb900;
$color-four-dark: #ff7730;

$color-light: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-shadow: #000;

//FONT
$default-font: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
