$color-primary: #003dd7;
$color-secondary: #8b7bda;
$color-light: #fff;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-light;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 90vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.7),
      rgba($color-secondary, 0.7)
    ),
    url("../img/P1251209.JPG");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  backface-visibility: hidden;
}

.header__text--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 2.3rem;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease;
}

.header__text--secondary {
  display: block;
  font-size: 2rem;
  font-weight: 30rem;
  letter-spacing: 1.9rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease;
  margin-bottom: 12vh;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  color: $color-primary;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  position: relative;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.btn--white {
  background-color: $color-light;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 1s;
}

.btn--white::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.15);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--fade-in {
  animation: fadeIn 2s 2s;
  animation-fill-mode: backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  /* 80%{
        transform: translateX(1rem);
    } */
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  /* 80%{
        transform: translateX(-1rem);
    } */
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
