.header {
  height: 90vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.7),
      rgba($color-secondary, 0.7)
    ),
    url("../img/P1251209.JPG");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    backface-visibility: hidden;
  }
}
