.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-shadow, 0.1);
  background-color: rgba($color-light, 0.6);
  border-radius: 3px;
  padding: 7rem;
  padding-left: 9rem;
  font-size: $default-font;
  transform: skewX(-12deg);

  // & > * {
  //   transform: skewX((12deg));
  // } this doesn't work now because you can only have one transform property working on each element, and the "shape" already has a transform on it, so move this into its transform

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(
      50% at 50% 50%
    ); //this only works if the element has a height, width, and is floated. it defines how the content flows around the element
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); //this shapes the element itself
    transform: translateX(-3rem) skewX((12deg));
    position: relative;
  }

  &__image {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s ease;
    filter: brightness(120%);
  }

  &__text {
    transform: skewX((12deg));
  }

  &__caption {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-light;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
    backface-visibility: hidden; //fixes little glitches with smoothness in animation
  }

  &:hover &__caption {
    //when the story element is hovered, the caption properties change!
    opacity: 1;
    top: 50%;
  }

  &:hover &__image {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
