*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //sets what 1 rem should be--this is not font sizing
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
