.u-center-text {
  text-align: center !important;
}

.u-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.u-margin-bottom-lg {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-med {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-med-sm {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-sm {
  margin-bottom: 1rem !important;
}
