* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: white;
    padding: 30px;
}

.header {
    height: 90vh;
    position: relative;
    background-image:linear-gradient(to right bottom, rgba(0, 61, 215, 0.7), rgba(139, 123, 218, 0.7)), url("../img/P1251209.JPG");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);

}

.header-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    backface-visibility: hidden;

}

.header-main {
    display: block;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 23px;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease;
}

.header-secondary {
    display: block;
    font-size: 20px;
    font-weight: 300px;
    letter-spacing: 19px;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease;
    margin-bottom: 12vh;
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    /* 80%{
        transform: translateX(10px);
    } */
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    /* 80%{
        transform: translateX(-10px);
    } */
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    /* transition: all .2s; */
    animation-name: fadeIn;
    animation-duration: 4s;

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.4);
}

.btn-white{
    background-color: #fff;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}